@media screen and (max-width: 750px) {
  html {
    font-size: calc(100vw / 37.5);
  }

  body {
    color: #444444;
    font-size: 1.5rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
  }

  sup {
    font-size: 0.6em;
    vertical-align: top;
  }

  :not(.eclinks-modal img) {
    max-width: 100%;
    height: auto;
  }

  .pc-s {
    display: none;
  }

  .setDetail {
    width: 100%;
    padding: 0 5vw;
  }

  .setDetail h4 {
    font-size: 1.4rem;
  }

  .setDetail dl {
    font-size: 1.3rem;
  }

  .setDetail dl dt {
    width: 80%;
  }

  .setDetail dl dd {
    width: 20%;
  }

  #sec_kv {
    background-image: url(./images/head-bg-sp.jpg);
    background-size: cover;
    padding-bottom: 3vw;
  }

  #sec_kv.rvhfm {
    background-image: url(./images/main_bg_sp.jpg);
    background-size: 100% auto;
    height: 160vw;
  }

  #sec_kv .site_logo {
    text-align: center;
    width: 20vw;
    margin: auto;
  }

  #sec_kv.rvhfm .site_logo {
    margin-bottom: 3vw;
  }

  #sec_kv .site_logo img {
    width: 100%;
  }

  #sec_kv.rvhfm h1 {
    width: 100%;
    margin: 0;
    padding: 0 5vw;
  }

  #sec_kv.rvhfm .pdName {
    padding: 0 10vw;
    top: 33vw;
  }

  #sec_kv.rvhfm .mainNew {
    top: 41vw;
    margin-left: -47vw;
    width: 18vw;
  }

  #sec_kv.rvhfm .mainImg {
    margin-top: 10vw;
  }

  #sec_kv.rvhfm .mainCopy {
    bottom: 2vw;
    padding: 0 5vw;
  }

  #sec_intro {
    background-image: url(./images/r-bg-sp.jpg);
    background-size: 300px;
  }

  #sec_intro .inner {
    padding: 13vw 3vw 9vw;
    padding-top: 20vw;
  }

  #sec_intro .c_ttl {
    text-align: center;
    margin-bottom: 8vw;
    position: relative;
    transform: translateY(-35%);
    transition: 1s;
    opacity: 0;
    width: 84vw;
    margin: 0 auto 5vw auto;
  }

  #sec_intro .c_ttl.active {
    transform: translateY(0);
    opacity: 1;
  }

  #sec_intro .c_ttl::after {
    content: "";
    background-image: url(./images/intro-mark.png);
    background-repeat: no-repeat;
    background-size: 14vw;
    display: block;
    width: 14vw;
    height: 14vw;
    position: absolute;
    right: -3vw;
    top: -8vw;
  }

  #sec_intro .c_ttl + p {
    text-align: center;
    line-height: 2;
  }

  #sec_intro .list {
    margin-top: 60px;
  }

  #sec_intro .list li {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 1s;
    transform: translateX(30%);
    justify-content: center;
  }

  #sec_intro .list.active li {
    transform: translateX(0);
    opacity: 1;
  }

  #sec_intro .list li .fig {
    flex-shrink: 0;
    margin: 0 !important;
  }

  #sec_intro .list li:nth-child(1) .fig {
    order: 2;
    width: 45vw;
  }
  #sec_intro .list li:nth-child(2) .fig {
    order: 1;
    width: 44vw;
  }
  #sec_intro .list li:nth-child(3) .fig {
    order: 2;
    width: 47vw;
  }
  #sec_intro .list li:nth-child(4) .fig {
    order: 1;
    width: 40vw;
  }

  #sec_intro .list li:nth-child(2) .new {
    position: absolute;
    top: -2vw;
    left: 30vw;
  }
  #sec_intro .list li:nth-child(2) .new img {
    width: 13vw;
    height: auto;
}

  #sec_intro .list li .wrap {
    text-align: left;
    margin: 0 !important;
    flex: 1;
  }

  #sec_intro .list li:nth-child(1) .wrap {
    order: 1;
  }
  #sec_intro .list li:nth-child(2) .wrap {
    order: 2;
    padding-left: 3vw;
    padding-right: 1vw;
  }
  #sec_intro .list li:nth-child(3) .wrap {
    order: 1;
    padding-bottom: 7vw;
  }
  #sec_intro .list li:nth-child(4) .wrap {
    order: 2;
    padding-left: 2vw;
  }

  #sec_intro .list li .scene {
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: 600;
  }

  #sec_intro .list li:nth-child(1) .scene {
    color: #0F287B;
  }
  #sec_intro .list li:nth-child(2) .scene {
    color: #ae1c87;
  }
  #sec_intro .list li:nth-child(3) .scene {
    color: #59337C;
  }
  #sec_intro .list li:nth-child(4) .scene {
    color: #FCAE01;
  }

  #sec_intro .list li .name {
    font-size: 1.4rem;
  }

  #sec_intro .list li .fragrance {
    font-size: 1.55rem;
    margin-top: 3px;
  }

  #sec_intro .att_txt {
    text-align: left;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;
  }

  #sec_intro .list li .note {
    font-size: 1.2rem;
    margin-top: 3px;
  }

  #sec_interest {
    padding-bottom: 17vw;
  }

  #sec_interest .row {
    opacity: 0;
    transform: translateY(-10%);
    transition: 1s;
  }

  #sec_interest .row.active {
    transform: translateY(0);
    opacity: 1;
  }

  #sec_interest .row .thumb {
    width: 100%;
    position: relative;
    margin-bottom: 13vw;
  }

  #sec_interest .row .thumb .point {
    position: absolute;
  }

  #sec_interest_1 .row .thumb .point {
    right: 5vw;
    bottom: -7vw;
  }

  #sec_interest .row .thumb .point p {
    display: block;
    width: 22.5vw;
    height: 22.5vw;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    background: #D2DFDE;
    border: 4px solid white;
    z-index: 2;
    font-size: 1.0rem;
    line-height: 1.4;
    color: #004845;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
    position: relative;
  }

  #sec_interest_1 .row .thumb .point p {
    font-size: 1.0rem;
  }

  #sec_interest .row .thumb .point p::before {
    content: "";
    display: block;
    border: 2px solid #004845;
    width: 23vw;
    height: 23vw;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
  }

  #sec_interest .row .thumb .point p span {
    display: block;
  }

  #sec_interest .row .thumb img {
    width: 100%;
  }

  #sec_interest_1 .row dl {
    text-align: center;
  }

  #sec_interest_1 .row dl dt {
    margin-bottom: 4vw;
  }

  #sec_interest_1 .row img.ttl {
    width: 90%;
    height: auto;
    margin: 0 auto 9vw;
  }

  #sec_interest_1 .row dl dt img.sttl {
    width: 63.2vw;
    height: auto;
  }

  #sec_interest_1 .row dl dd {
    font-weight: 400;
    line-height: 2;
    font-feature-settings: "palt";
  }

  #sec_interest_1 .row dl dd + dt {
    margin-top: 10vw;
  }

  #sec_interest_1 .row dl dt img.sttl2 {
    width: 53.3vw;
    height: auto;
  }

  #sec_interest_1 .row dl dd small {
    font-size: 1.2rem;
  }

  #sec_interest_2 {
    padding-top: 17.3vw;
  }

  #sec_interest_2 .row .thumb .point {
    right: 5vw;
    bottom: -7vw;
  }

  #sec_interest_2 .row .thumb .point p {
    letter-spacing: -.1em;
  }

  #sec_interest_2 .row .thumb .point p span {
    padding-top: 1.5vw;
  }

  #sec_interest_2 .row .txt {
    font-weight: 500;
    line-height: 2;
    text-align: center;
  }

  #sec_interest_2 .row .txt h3 {
    width: 80vw;
    margin: 0 auto 8vw;
  }

  #sec_interest_2 .row .txt h3 img {
    width: 100%;
    height: auto;
  }

  #sec_interest_2 .row .txt small {
    font-size: 1.2rem;
    display: block;
  }

  #sec_lineup .lineup_area#sec_lineup_1 {
    background-image: url(./images/bg1-sp.jpg);
  }
  #sec_lineup .lineup_area#sec_lineup_3 {
    background-image: url(./images/bg3-sp.jpg);
  }
  #sec_lineup .lineup_area#sec_lineup_2 {
    background-image: url(./images/bg2-sp.jpg);
  }
  #sec_lineup .lineup_area#sec_lineup_4 {
    background-image: url(./images/bg4-sp.jpg);
  }

  #sec_lineup h2 {
    background: #004845;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 11vw;
  }

  #sec_lineup h2 img {
    width: 23vw;
  }

  #sec_lineup .lineup_area {
    background-position: center top;
    background-size: cover;
  }

  #sec_lineup .lineup_area .row {
    opacity: 0;
    transition: 1s;
    transform: translateX(30%);
    padding-top: 10vw;
  }

  #sec_lineup .lineup_area .row.active {
    opacity: 1;
    transform: translateX(0);
  }

  #sec_lineup .lineup_area#sec_lineup_hfm .ttl {
    width: 75vw;
    margin: 0 auto 7vw;
  }
  #sec_lineup .lineup_area#sec_lineup_1 .ttl {
    width: 71vw;
    margin: 0 auto 7vw;
  }
  #sec_lineup .lineup_area#sec_lineup_3 .ttl {
    width: 75vw;
    margin: 0 auto 7vw;
  }
  #sec_lineup .lineup_area#sec_lineup_2 .ttl {
    width: 70vw;
    margin: 0 auto 7vw;
  }
  #sec_lineup .lineup_area#sec_lineup_4 .ttl {
    width: 77vw;
    margin: 0 auto 7vw;
  }

  #sec_lineup .lineup_area .thumb {
    box-sizing: content-box;
  }

  #sec_lineup .lineup_area .row.active .thumb {
    position: relative;
  }

  #sec_lineup .lineup_area#sec_lineup_hfm .thumb {
    margin: 0 auto;
    width: 76vw;
  }
  #sec_lineup .lineup_area#sec_lineup_1 .thumb {
    padding-left: 11vw;
    width: 70vw;
  }
  #sec_lineup .lineup_area#sec_lineup_3 .thumb {
    padding-left: 5vw;
    width: 76vw;
  }
  #sec_lineup .lineup_area#sec_lineup_2 .thumb {
    padding-left: 6vw;
    width: 78vw;
  }
  #sec_lineup .lineup_area#sec_lineup_4 .thumb {
    padding: 0 10vw;
  }

  #sec_lineup .lineup_area .thumb img {
    width: 100%;
  }

  #sec_lineup .lineup_area#sec_lineup_hfm .thumb .new {
    top: -5vw !important;
    right: -10vw !important;
    width: 16vw;
  }

  #sec_lineup .lineup_area .detal_area {
    padding-bottom: 8vw;
    text-align: center;
  }

  #sec_lineup .lineup_area .detal_area h3 {
    margin-bottom: 30px;
  }

  #sec_lineup .lineup_area .detal_area .name {
    font-size: 1.5rem;
    margin-top: 1em;
  }

  #sec_lineup .lineup_area .detal_area .fragrance {
    font-size: 1.8rem;
    margin-bottom: 1em;
    font-feature-settings: "palt";
  }

  #sec_lineup .lineup_area .detal_area .price {
    position: relative;
  }

  #sec_lineup .lineup_area .detal_area .price p {
    line-height: 1.83333;
  }

  #sec_lineup .lineup_area .detal_area .price p + small {
    font-size: 1.2rem;
  }

  #sec_lineup .lineup_area .detal_area .price::after {
    content: "";
    width: 16vw;
    height: 16vw;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    right: 6vw;
    top: -35vw;
    display: block;
  }

  #sec_lineup .lineup_area .detal_area a.btn {
    background-image: url(./images/btn-shop-sp.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #fff;
    background-size: 100% auto;
    width: 67vw;
    height: 11.7vw;
    text-indent: -9999px;
    margin: 4vw auto 0;
    display: block;
  }

  #sec_lineup .lineup_area .row.active .thumb .badge {
    position: absolute;
    top: 45vw;
    left: 10vw;
    width: 16vw;
  }

}

@media (max-width: 767px) {
  .eclinks-btn a {
    display: block;
    position: relative;
    margin: 20px 5%;
    padding: 3%;
    width: 90%;
    background-color: #004b4a;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
  }
}