@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600;700&display=swap");

html {
  display: block;
}

body {
  display: block;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}


@media screen and (min-width: 751px), print {
  body {
    width: 100%;
    height: 100%;
    color: #444444;
    font-size: 1.8rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
  }

  img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    vertical-align: top;
  }

  h1, h2, h3, h4, h5, h6, p {
    font-feature-settings: "palt";
  }

  #container {
    overflow: hidden;
  }

  #sec_kv {
    background-image: url(../img/sec_kv/head-bg.jpg);
    background-size: 1920px auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
  }

  #sec_kv .inner {
    width: 960px;
    height: 100%;
    margin: auto;
    position: relative;
  }

  #sec_kv .site_logo {
    display: flex;
    justify-content: center;
    margin: 0 0 45px;
  }

  #sec_kv .site_logo a {
    display: block;
  }

  #sec_kv h1 {
    text-align: center;
  }

  #sec_kv.rvhfm .pdName {
    top: 210px;
  }

  .sp-s {
    display: none;
  }

}


#sec_kv.rvhfm {
  background: url(./images/main_bg_pc.jpg) center top no-repeat;
  height: 780px;
}

#sec_kv.rvhfm .inner {
  text-align: center;
  height: 100%;
  position: relative;
}

#sec_kv.rvhfm .site_logo {
  margin-bottom: 20px;
}

#sec_kv.rvhfm h1 {
  filter: drop-shadow(0 0 5px white);
}

#sec_kv.rvhfm .pdName {
  width: 100%;
  filter: drop-shadow(0 0 5px white);
  z-index: 2;
  position: absolute;
  left: 0;
}

#sec_kv.rvhfm .mainNew {
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -365px;
  z-index: 0;
}

#sec_kv.rvhfm .mainImg {
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

#sec_kv.rvhfm .mainCopy {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  filter: drop-shadow(0 0 5px white);
  z-index: 2;
}


